alarma
[{"id":"ee1363bec8107841","type":"mqtt in","z":"5ff2d18b6573835f","name":"","topic":"maqueta1/sensores/pir","qos":"2","datatype":"auto-detect","broker":"cff3a2b7217ce8f9","nl":false,"rap":true,"rh":0,"inputs":0,"x":180,"y":680,"wires":[["e5c85658172833a1","75f8cd08bf269532"]]},{"id":"bb966b07a18a8d41","type":"trigger","z":"5ff2d18b6573835f","name":"durante 5s","op1":"1","op2":"0","op1type":"num","op2type":"num","duration":"5000","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":750,"y":680,"wires":[["14251afe35b29d9b"]]},{"id":"14251afe35b29d9b","type":"mqtt out","z":"5ff2d18b6573835f","name":"Son","topic":"maqueta1/actuadores/son","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"cff3a2b7217ce8f9","x":950,"y":680,"wires":[]},{"id":"e5c85658172833a1","type":"debug","z":"5ff2d18b6573835f","name":"PIR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":720,"wires":[]},{"id":"75f8cd08bf269532","type":"rbe","z":"5ff2d18b6573835f","name":"So envía cambios","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":530,"y":680,"wires":[["bb966b07a18a8d41"]]},{"id":"cff3a2b7217ce8f9","type":"mqtt-broker","name":"VPS_mqtt1","broker":"localhost","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]
