dasdboard/sensores.json
[{"id":"c41b0d5d84c20fef","type":"mqtt in","z":"5ff2d18b6573835f","name":"","topic":"maqueta1/sensores/temp","qos":"2","datatype":"auto-detect","broker":"cff3a2b7217ce8f9","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":100,"wires":[["a69199215abdef04"]]},{"id":"a69199215abdef04","type":"ui_chart","z":"5ff2d18b6573835f","name":"temperatura","group":"646e6ab593ef068f","order":0,"width":0,"height":0,"label":"tempmaqueta1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":510,"y":100,"wires":[[]]},{"id":"b58e26cb12a86b63","type":"mqtt in","z":"5ff2d18b6573835f","name":"","topic":"maqueta1/sensores/luz","qos":"2","datatype":"auto-detect","broker":"cff3a2b7217ce8f9","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":160,"wires":[["8d8defe2ed77abb1"]]},{"id":"8d8defe2ed77abb1","type":"ui_gauge","z":"5ff2d18b6573835f","name":"Luzz¿¿¿","group":"646e6ab593ef068f","order":3,"width":0,"height":0,"gtype":"gage","title":"LUZ","label":"%","format":"{{value}}","min":"10","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":540,"y":160,"wires":[]},{"id":"c6517dbc799d7bcc","type":"mqtt in","z":"5ff2d18b6573835f","name":"","topic":"maqueta1/sensores/pir","qos":"2","datatype":"auto-detect","broker":"cff3a2b7217ce8f9","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":240,"wires":[["e436668f4f29cb56","67296985e2b3dd6b"]]},{"id":"e436668f4f29cb56","type":"change","z":"5ff2d18b6573835f","name":"Cambio PIR 0","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"Seguro","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":200,"wires":[["eb3ffce6b8895f77"]]},{"id":"67296985e2b3dd6b","type":"change","z":"5ff2d18b6573835f","name":"Cambio PIR 1","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"Seguro","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":280,"wires":[["eb3ffce6b8895f77"]]},{"id":"eb3ffce6b8895f77","type":"ui_text","z":"5ff2d18b6573835f","group":"646e6ab593ef068f","order":4,"width":0,"height":0,"name":"","label":"Alarma","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":620,"y":240,"wires":[]},{"id":"06bb18e669b8e2c1","type":"ui_chart","z":"5ff2d18b6573835f","name":"humedad","group":"646e6ab593ef068f","order":5,"width":0,"height":0,"label":"humedad","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":580,"y":340,"wires":[[]]},{"id":"dc2b59ff279ff4d8","type":"mqtt in","z":"5ff2d18b6573835f","name":"","topic":"maqueta1/sensores/hum","qos":"2","datatype":"auto-detect","broker":"cff3a2b7217ce8f9","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":340,"wires":[["06bb18e669b8e2c1"]]},{"id":"888aa7a6d3994927","type":"comment","z":"5ff2d18b6573835f","name":"sensores maqueta5","info":"","x":230,"y":60,"wires":[]},{"id":"cff3a2b7217ce8f9","type":"mqtt-broker","name":"VPS_mqtt1","broker":"localhost","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"646e6ab593ef068f","type":"ui_group","name":"Maqueta1 Sensores","tab":"32e194b19f1e6634","order":2,"disp":true,"width":6,"collapse":false,"className":""},{"id":"32e194b19f1e6634","type":"ui_tab","name":"Maqueta1","icon":"dashboard","disabled":false,"hidden":false},{"id":"6a839f11bd378753","type":"global-config","env":[],"modules":{"node-red-dashboard":"3.6.6"}}]
