automatizacions/alarmaporta.json
[{"id":"fa4557cff3aec20a","type":"mqtt in","z":"5ff2d18b6573835f","name":"","topic":"maqueta1/sensores/pir","qos":"2","datatype":"auto-detect","broker":"cff3a2b7217ce8f9","nl":false,"rap":true,"rh":0,"inputs":0,"x":180,"y":560,"wires":[["2b9c527f4716691e","620bce9e063bf835"]]},{"id":"2b9c527f4716691e","type":"rbe","z":"5ff2d18b6573835f","name":"Solo envía cambio","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":490,"y":560,"wires":[["0e4786ec17b9d86c","13e36483a1f59d12"]]},{"id":"620bce9e063bf835","type":"debug","z":"5ff2d18b6573835f","name":"PIR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":600,"wires":[]},{"id":"0e4786ec17b9d86c","type":"debug","z":"5ff2d18b6573835f","name":"PIR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":620,"wires":[]},{"id":"13e36483a1f59d12","type":"mqtt out","z":"5ff2d18b6573835f","name":"","topic":"maqueta1/actuadores/servo","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"cff3a2b7217ce8f9","x":980,"y":560,"wires":[]},{"id":"cff3a2b7217ce8f9","type":"mqtt-broker","name":"VPS_mqtt1","broker":"localhost","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]
