automatizacions/humedad
[{"id":"98449ce9cff99cc4","type":"mqtt in","z":"5ff2d18b6573835f","name":"","topic":"maqueta1/sensores/temp","qos":"2","datatype":"auto-detect","broker":"cff3a2b7217ce8f9","nl":false,"rap":true,"rh":0,"inputs":0,"x":170,"y":800,"wires":[["5b0bedef28dc0971","ee9b322d85c694a5"]]},{"id":"2f23f177152b7bf4","type":"mqtt out","z":"5ff2d18b6573835f","name":"Ventilador","topic":"maqueta1/actuador/rele","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"cff3a2b7217ce8f9","x":1020,"y":800,"wires":[]},{"id":"5b0bedef28dc0971","type":"debug","z":"5ff2d18b6573835f","name":"Alarma","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":420,"y":860,"wires":[]},{"id":"ee9b322d85c694a5","type":"switch","z":"5ff2d18b6573835f","name":"Cambio de temperatura a 0-1","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"20","vt":"num"},{"t":"lte","v":"20","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":460,"y":800,"wires":[["23151387a37b2fee"],["927f22fe99622a75"]]},{"id":"23151387a37b2fee","type":"change","z":"5ff2d18b6573835f","name":"Enviamos 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":780,"wires":[["2f23f177152b7bf4"]]},{"id":"927f22fe99622a75","type":"change","z":"5ff2d18b6573835f","name":"Enviamos 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":820,"wires":[["2f23f177152b7bf4"]]},{"id":"cff3a2b7217ce8f9","type":"mqtt-broker","name":"VPS_mqtt1","broker":"localhost","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]
