automatizacions/humedad.json
[{"id":"cf5560e34e1a1128","type":"mqtt in","z":"5ff2d18b6573835f","name":"","topic":"maqueta1/sensores/hum","qos":"2","datatype":"auto-detect","broker":"cff3a2b7217ce8f9","nl":false,"rap":true,"rh":0,"inputs":0,"x":170,"y":960,"wires":[["c99ed28abc4a27c0"]]},{"id":"c99ed28abc4a27c0","type":"switch","z":"5ff2d18b6573835f","name":"datos a enviar","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"24","v2t":"num"},{"t":"btwn","v":"25","vt":"num","v2":"49","v2t":"num"},{"t":"btwn","v":"50","vt":"num","v2":"74","v2t":"num"},{"t":"btwn","v":"75","vt":"num","v2":"100","v2t":"num"}],"checkall":"true","repair":false,"outputs":4,"x":420,"y":960,"wires":[["9fde76ce4869ed24"],["9fde76ce4869ed24"],["9fde76ce4869ed24"],["9fde76ce4869ed24"]]},{"id":"9fde76ce4869ed24","type":"rbe","z":"5ff2d18b6573835f","name":"Envía se cambia","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":770,"y":960,"wires":[["715b94bd3b773f0c"]]},{"id":"715b94bd3b773f0c","type":"mqtt out","z":"5ff2d18b6573835f","name":"","topic":"maqueta1/actuadores/matriz","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"cff3a2b7217ce8f9","x":1020,"y":960,"wires":[]},{"id":"cff3a2b7217ce8f9","type":"mqtt-broker","name":"VPS_mqtt1","broker":"localhost","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]
